@charset "UTF-8";
/*
######################################################
  Ce dossier contient les fichiers Sass utilitaires,
  tels que les mixins, les fonctions, les variables
######################################################
 */
/* Définit la couleur d'arrière-plan  */
/*
                       ###################################################################
                         Ce dossier contient les styles de base pour les éléments HTML de
                         base tels que les titres, les paragraphes...
                       ###################################################################
                        */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "DM Sans", sans-serif;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px 50px 30px;
}

/*
###################################################################
  Ce dossier contient les styles de base pour les éléments HTML de
  base tels que les titres, les paragraphes...
###################################################################
 */
/*
                       ############################################################################
                         Ce dossier contient tous les styles pour les composants réutilisables
                         du site, tels que les boutons, les formulaires, les modales,
                       ############################################################################
                        */
form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
}
form div input {
  width: 100%;
  height: 58px;
  border: none;
  border-radius: 5px;
  font-size: 24px;
}
@media (max-width: 1200px) {
  form div input {
    height: 48px;
  }
}
@media (max-width: 992px) {
  form div input {
    height: 38px;
  }
}
form textarea {
  width: 100%;
  height: 170px;
  border: none;
  border-radius: 5px;
  resize: none;
  font-size: 24px;
  font-family: sans-serif;
  line-height: 1.5;
  margin-bottom: 26px;
}
form label {
  color: #312E2E;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 47px;
  mix-blend-mode: normal;
  margin-bottom: 5px;
  margin-top: 10px;
}
@media (max-width: 1200px) {
  form label {
    font-size: 30px;
  }
}
@media (max-width: 992px) {
  form label {
    font-size: 24px;
    justify-content: flex-start;
  }
}

#contact_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(196, 196, 196, 0.4);
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .contact_button {
    font-size: 18px;
    padding: 8px;
    width: 160px;
    height: 60px;
  }
}
@media (max-width: 992px) {
  .contact_button {
    width: 150px;
    height: 50px;
  }
}
.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: 50px auto;
}
@media (max-width: 992px) {
  .modal {
    width: 60%;
  }
}
@media (max-width: 768px) {
  .modal {
    width: 80%;
  }
}
@media (max-width: 576px) {
  .modal {
    width: 95%;
    padding: 20px;
  }
}
.modal header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 992px) {
  .modal header {
    margin-top: 0;
  }
}
.modal header img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .modal header img {
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 992px) {
  .modal header img {
    width: 20px;
    height: 20px;
  }
}
.modal header h2 {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 83px;
  color: #000000;
}
@media (max-width: 1200px) {
  .modal header h2 {
    font-size: 45px;
  }
}
@media (max-width: 992px) {
  .modal header h2 {
    font-size: 40px;
  }
}
@media (max-width: 576px) {
  .modal header h2 {
    font-size: 30px;
  }
}
/*
                       ############################################################################
                         Ce dossier contient tous les styles pour les composants réutilisables
                         du site, tels que les boutons, les formulaires, les modales,
                       ############################################################################
                        */
.show-lightbox {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(196, 196, 196, 0.4);
}
.show-lightbox__modal {
  border-radius: 5px;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 62px 99px;
  margin: auto;
}
@media (max-width: 992px) {
  .show-lightbox__modal {
    padding: 62px 29px;
  }
}
.show-lightbox__header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.show-lightbox__header .show-lightbox__close-btn {
  cursor: pointer;
}
.show-lightbox__image {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.show-lightbox__image .show-lightbox__img,
.show-lightbox__image video {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.show-lightbox__image video {
  display: none;
}
.show-lightbox__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.show-lightbox__nav-chevron-wrapper {
  width: 96px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.show-lightbox__nav-chevron-wrapper .show-lightbox__close-btn-wrapper {
  cursor: pointer;
  position: relative;
  bottom: 400px;
  left: 50%;
  transform: translateX(-50%);
}
.show-lightbox__nav-inner {
  display: flex;
}
.show-lightbox__nav .show-lightbox__nav-chevron {
  width: 100%;
  font-size: 40px;
  color: #901C1C;
  display: flex;
  justify-content: center;
}
.show-lightbox__nav .fa-chevron-left {
  cursor: pointer;
}
.show-lightbox__nav .fa-chevron-right {
  cursor: pointer;
}
.show-lightbox__nav .show-lightbox__nav-image {
  max-width: 100%;
  max-height: 100%;
}
.show-lightbox__nav .show-lightbox__nav-image img {
  width: 100%;
  height: 900px;
  object-fit: contain;
}
.show-lightbox__nav .show-lightbox__nav-image video {
  width: 100%;
  height: auto;
}
.show-lightbox__nav .show-lightbox__nav-image figcaption {
  display: flex;
  justify-content: flex-start;
  font-family: "DM Sans", sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #911C1C;
}

.dropdown {
  background-color: #901C1C;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  margin-top: 9px;
  border-radius: 5px;
  border: 20px solid #901C1C;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media (max-width: 576px) {
  .dropdown {
    display: flex;
    justify-content: center;
    width: unset;
    position: relative;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
  }
}
.dropdown__options {
  -webkit-appearance: none;
  color: #FFFFFF;
  padding: 10px;
}
.dropdown__options:last-child {
  border-bottom: none;
}
.dropdown__options--selected {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}

.select {
  display: flex;
  justify-content: space-between;
}

label {
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  margin-right: 25px;
}
@media (max-width: 576px) {
  label {
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 10px;
    margin-right: 0;
  }
}

/***********************
  Photographer section
 ***********************/
.media-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 0;
  gap: 20px;
  align-items: center;
}
@media (max-width: 1400px) {
  .media-section {
    justify-content: space-evenly;
  }
}
.media-section article {
  width: 30%;
  height: 351px;
}
@media (max-width: 992px) {
  .media-section article {
    width: 45%;
  }
}
@media (max-width: 576px) {
  .media-section article {
    width: 100%;
  }
}
.media-section article--index {
  width: 45%;
}
.media-section article figure {
  width: 100%;
}
@media (max-width: 576px) {
  .media-section article figure {
    display: flex;
    flex-direction: column-reverse;
  }
}
.media-section article img, .media-section article video {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .media-section article img, .media-section article video {
    border-radius: 0px 0px 5px 5px;
  }
}
.media-section article figcaption {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
@media (max-width: 576px) {
  .media-section article figcaption {
    padding-right: 0;
    right: 176px;
    color: #FFFFFF;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #757575;
  }
}
.media-section article h3 {
  width: 100%;
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #911C1C;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 576px) {
  .media-section article h3 {
    font-size: 20px;
    color: #FFFFFF;
    padding-left: 10px;
  }
}
.media-section article p {
  display: flex;
  align-items: center;
  width: 48px;
  margin-right: 20px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #911C1C;
}
@media (max-width: 576px) {
  .media-section article p {
    position: relative;
    font-size: 20px;
    width: 80px;
    top: 0;
    right: 0;
    color: #000000;
    background-color: #DB8876;
    border-radius: 0 10px 0 0;
    padding: 5px 30px 5px 10px;
    margin-right: 0px;
  }
}
.media-section article .heart-container {
  margin: 0 auto;
  font-size: 16px;
}
.media-section article .fa-heart {
  font-size: 24px;
  cursor: pointer;
}
.media-section article .fas.fa-heart {
  position: absolute;
  z-index: 0;
  animation: fill 500ms;
  display: none;
}
.media-section article .heart-container {
  position: relative;
  display: inline-block;
}
.media-section article .fa-heart {
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: -14px;
  left: 0;
}
.media-section article .fas.fa-heart {
  position: absolute;
  z-index: 0;
  animation: fill 500ms;
  display: none;
}
@keyframes fill {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media (max-width: 576px) {
  main {
    margin-top: 0;
  }
}
main aside {
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-right: 36px;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px 40px;
  background-color: #DB8876;
  flex-direction: row-reverse;
}
@media (max-width: 576px) {
  main aside {
    width: 90%;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 10px;
  }
}
main aside .rate, main aside .likes {
  padding: 0 0 0 5px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
}
main aside .rate {
  padding: 0 0 0 30px;
}
main aside .likes {
  margin-right: 10px;
}
main aside .total-likes {
  width: 50px;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
}
main aside .fa-heart {
  color: #000000;
}

/*
                       ############################################################################
                         Ce dossier contient tous les styles pour les composants réutilisables
                         du site, tels que les boutons, les formulaires, les modales,
                       ############################################################################
                        */
.header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 119px;
}
@media (max-width: 576px) {
  .header {
    justify-content: center;
    width: 80%;
  }
}
.header--width {
  width: 100%;
}
.photograph-header {
  background-color: #FAFAFA;
  height: 300px;
}

h1 {
  color: #901C1C;
  margin-right: 0;
}

.logo {
  height: 50px;
  cursor: pointer;
}
@media (max-width: 992px) {
  .logo {
    margin: 0 auto;
  }
}
@media (max-width: 992px) and (max-width: 992px) {
  .logo--index {
    margin-left: 0;
  }
}
@media (max-width: 992px) and (max-width: 576px) {
  .logo--index {
    height: 60px;
    margin-top: 20px;
    margin-right: 0;
  }
}

/*
###################################################################
|  Ce dossier contient les styles spécifiques à la page d'accueil |
###################################################################
 */
.photographer_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 1px;
  row-gap: 83px;
  margin-top: 100px;
}
@media (max-width: 576px) {
  .photographer_section {
    margin-top: 50px;
    justify-content: center;
  }
}
.photographer_section article {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 992px) {
  .photographer_section article {
    width: 45%;
  }
}
@media (max-width: 576px) {
  .photographer_section article {
    width: 95%;
  }
}
.photographer_section article a {
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}
.photographer_section article h2 {
  color: #D3573C;
  font-weight: 400;
  font-size: 36px;
  line-height: 47px;
  margin-top: 20px;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .photographer_section article h2 {
    font-size: 28px;
  }
}
.photographer_section article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.photographer_section article p {
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  color: #901C1C;
  text-align: center;
  margin: 0;
}
.photographer_section article p:nth-of-type(2) {
  color: #000000;
  font-weight: 400;
  font-size: 12px;
}
.photographer_section article p:nth-of-type(3) {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
}

h1 {
  font-size: 21px;
}

/*
########################################################################
|  Ce dossier contient les styles spécifiques à la page du photographe |
########################################################################
 */
.photographer-header__details__location, .photographer-header__details__tagline, .photographer-header__details__name {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0 0 19px 0;
  text-align: left;
}

.photographer-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 57px 50px;
  background-color: #FAFAFA;
  border-radius: 5px;
  text-align: center;
}
@media (max-width: 992px) {
  .photographer-header {
    flex-direction: column-reverse;
    padding: 47px 50px;
  }
}
@media (max-width: 576px) {
  .photographer-header {
    flex-direction: column-reverse;
    margin-bottom: 20px;
  }
}
.photographer-header__details {
  margin-right: 20px;
  margin-left: 0;
}
@media (max-width: 768px) {
  .photographer-header__details {
    margin-right: 0;
  }
}
.photographer-header__details__name {
  font-size: 64px;
  line-height: 83px;
  color: #D3573C;
  margin: 0;
}
@media (max-width: 1200px) {
  .photographer-header__details__name {
    display: flex;
    justify-content: center;
    font-size: 50px;
  }
}
@media (max-width: 992px) {
  .photographer-header__details__name {
    display: flex;
    justify-content: center;
    font-size: 44px;
  }
}
@media (max-width: 576px) {
  .photographer-header__details__name {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 0;
  }
}
.photographer-header__details__location {
  font-size: 24px;
  line-height: 31px;
  color: #901C1C;
}
@media (max-width: 992px) {
  .photographer-header__details__location {
    font-size: 28px;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .photographer-header__details__location {
    font-size: 20px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
  }
}
.photographer-header__details__tagline {
  font-size: 18px;
  line-height: 23px;
}
@media (max-width: 992px) {
  .photographer-header__details__tagline {
    font-size: 24px;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .photographer-header__details__tagline {
    margin-bottom: 0;
    font-size: 16px;
  }
}
.photographer-header__button {
  background-color: #911C1C;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  height: 69px;
  cursor: pointer;
}
@media (max-width: 992px) {
  .photographer-header__button {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .photographer-header__button {
    font-weight: 400;
    font-size: 20px;
    height: 50px;
  }
}
.photographer-header__button:hover {
  background-color: #D3573C;
  color: #000000;
}
.photographer-header__image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

/*# sourceMappingURL=main.css.map */
