    .dropdown {
      //position: relative;
      background-color: $color-primary;
      color: $color-white;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 23px;
      margin-top: 9px;
      border-radius: 5px;
      border: 20px solid $color-primary;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      @include respond(tablet) {
        // Styles pour l'affichage sur tablette
        position: absolute;
        top: 92%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      @include respond(mobile) {
        // Styles pour l'affichage sur mobile
      }

      &__options {
        -webkit-appearance: none;
        color: $color-white;
        padding: 10px;


        &:last-child {
          border-bottom: none;
        }

        &--selected {
          color: $color-white;
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 23px;
        }
      }
    }



    label {
      color: $color-black;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 23px;
      margin-right: 25px;

      @include respond(tablet) {
        // Styles pour l'affichage sur tablette
        display: flex;
        justify-content: center;
        margin: 30px 0;
        font-size: 23px;

      }
    }








