                        /*
                       ############################################################################
                         Ce dossier contient tous les styles pour les composants réutilisables
                         du site, tels que les boutons, les formulaires, les modales,
                       ############################################################################
                        */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.photograph-header {
  background-color: $color-background;
  height: 300px;
  margin: 0 100px;
}

h1 {
  color: $color-primary;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}



