    #lightboxDescription {
      font-size: 24px;
      line-height: 31px;
      margin-top: 12px;
    }
    .show-lightbox {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background: rgba(196, 196, 196, 0.4);

      &__modal {
        border-radius: 5px;
        background-color: $color-white;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 62px 99px;
        margin: auto;

        @include respond(tablet) {
          padding: 62px 29px;
        }
      }

      &__header {
        display: flex;
        justify-content: flex-end;
        width: 100%;

        & .show-lightbox__close-btn {
          cursor: pointer;
        }
      }

      &__image {
        position: relative;
        max-width: 100%;
        max-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .show-lightbox__img,
          video {

          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
        }

        video {
          display: none;
        }
      }

      &__nav {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        &-chevron-wrapper {
          width: 96px;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .show-lightbox__close-btn-wrapper {
            cursor: pointer;
            position: relative;
            bottom: 310px;
            left: 85%;
            transform: translateX(-50%);
          }
        }

        &-inner {
          display: flex;
        }
        .show-lightbox__nav-chevron {
          width: 100%;
          font-size: 40px;
          color: $color-primary;
          display: flex;
          justify-content: center;
        }

        .fa-chevron-left {
          cursor: pointer;

        }

        .fa-chevron-right {
          cursor: pointer;

        }

        .show-lightbox__nav-image {
          max-width: 100%;
          max-height: 100%;

          img {
            width: 100%;
            height: 650px;
            object-fit: cover;

            @include respond(mobile) {
              object-fit: cover;

            }
          }

          video {
            width: 100%;
            height: auto;
          }

          figcaption {
            display: flex;
            justify-content: flex-start;
            font-family: $font-sans;
            text-align: center;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 31px;
            color: $color-deep-red;
          }
        }
      }
    }


