/*
                       ############################################################################
                         Ce dossier contient tous les styles pour les composants réutilisables
                         du site, tels que les boutons, les formulaires, les modales,
                       ############################################################################
                        */

#contact_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(196, 196, 196, 0.4);
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: $color-primary;
  border-radius: 5px;
  cursor: pointer;
}


.modal {
  border-radius: 5px;
  background-color: $color-secondary;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;

  header {
    justify-content: space-between;
    width: 100%;

    img {
      cursor: pointer;
    }

    h2 {
      font-family: $font-sans;
      font-style: normal;
      font-weight: 400;
      font-size: 64px;
      line-height: 83px;
      color: #000000;
    }
  }
}

