/*
                       ###################################################################
                         Ce dossier contient les styles de base pour les éléments HTML de
                         base tels que les titres, les paragraphes...
                       ###################################################################
                        */

    *,
    *::after,
    *::before {
      margin: 0;
      padding: 0;
      box-sizing: inherit;
    }

    body {
      //width: 95%;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      font-family: "DM Sans", sans-serif;
      max-width: $max-width;
      margin: 0 auto;
    }









