    /*
    ###################################################################
    |  Ce dossier contient les styles spécifiques à la page d'accueil |
    ###################################################################
     */

    .photographer_section {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      column-gap: 1px;
      row-gap: 83px;
      margin-top: 100px;
      background-color: palegreen;


      @include respond(laptop) {
      }

      @include respond(tablet) {
        justify-content: space-evenly;

      }

      @include respond(mobile) {
      }



      article {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @include respond(laptop) {

        }

        @include respond(tablet) {

        }

        @include respond(mobile) {
        }




        a {
          cursor: pointer;
          text-decoration: none;
          text-align: center;
        }

        h2 {
          color: $color-tertiary;
          font-weight: 400;
          font-size: 36px;
          line-height: 47px;
          margin-top: 20px;
          margin-bottom: 0;

          @include respond(laptop) {
            font-size: 28px;

          }

          @include respond(tablet) {

          }

          @include respond(mobile) {
          }
        }

        img {
          height: 200px;
          width: 200px;
          border-radius: 50%;
          object-fit: cover;
        }

        p {
          font-weight: 400;
          font-size: 15px;
          line-height: 17px;
          color: $color-primary;
          text-align: center;
          margin: 0;

          &:nth-of-type(2) {
            color: $color-black;
            font-weight: 400;
            font-size: 12px;
          }

          &:nth-of-type(3) {
            color: $color-price;
            font-weight: 400;
            font-size: 14px;
          }
        }
      }
    }


    .photographer-card {
      width: 30%;
      background-color: darkorange;

      @include respond(laptop) {
        background-color: #901C1C;
        width: 33%;

      }

      @include respond(tablet) {
        // Styles pour l'affichage sur tablette
        width: 40%;
      }

      @include respond(mobile) {
        // Styles pour l'affichage sur mobile
        width: 100%;

      }

    }

