    /*
    ###################################################################
    |  Ce dossier contient les styles spécifiques à la page d'accueil |
    ###################################################################
     */

    .photographer_section {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 70px;
      margin-top: 100px;

      article {
        justify-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        a {
          cursor: pointer;
          text-decoration: none;
          text-align: center;
        }

        h2 {
          color: $color-tertiary;
          font-weight: 400;
          font-size: 36px;
          line-height: 47px;
          margin-top: 20px;
          margin-bottom: 0;
        }

        img {
          height: 200px;
          width: 200px;
          border-radius: 50%;
          object-fit: cover;
        }

        p {
          font-weight: 400;
          font-size: 15px;
          line-height: 17px;
          color: $color-primary;
          text-align: center;
          margin: 0;

          &:nth-of-type(2) {
            color: $color-black;
            font-weight: 400;
            font-size: 12px;
          }

          &:nth-of-type(3) {
            color: $color-price;
            font-weight: 400;
            font-size: 14px;
          }
        }
      }
    }

