    /*
    ########################################################################
    |  Ce dossier contient les styles spécifiques à la page du photographe |
    ########################################################################
     */



    .photographer-header {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 57px 50px;
      background-color: $color-background;
      border-radius: 5px;
      text-align: center;

      @include respond(tablet) {
        //flex-direction: row-reverse;
        //padding: 47px 50px;
        flex-direction: column-reverse;
        padding: 47px 50px;
      }

      @include respond(tablet-mobile) {

        //padding: 27px 50px;
        //text-align: left;
      }

      @include respond(mobile) {
        flex-direction: column-reverse;
        margin-bottom: 20px;

      }



      .photographer-details {
        margin-right: 20px;
        margin-left: 0;



        .photographer-name {
          font-family: $font-sans;
          font-style: normal;
          font-weight: 400;
          font-size: 64px;
          line-height: 83px;
          color: $color-tertiary;
          margin: 0;

          @include respond(tablet) {
            display: flex;
            justify-content: center;
          }

          @include respond(tablet-mobile) {
            //font-size: 44px;
          }

          @include respond(mobile) {
            font-size: 42px;
            line-height: 42px;
            margin-bottom: 0;
          }
        }

        .photographer-location,
        .photographer-tagline {
          font-family: $font-sans;
          font-style: normal;
          font-weight: 400;
          margin: 0 0 19px 0;
          text-align: left;
        }

        .photographer-location {
          font-size: 24px;
          line-height: 31px;
          color: $color-primary;

          @include respond(tablet) {
            font-size: 28px;
            display: flex;
            justify-content: center;
          }

          @include respond(tablet-mobile) {
            //font-size: 26px;
          }

          @include respond(mobile) {
            font-size: 20px;
            margin-bottom: 0;
            display: flex;
            justify-content: center;
          }


        }

        .photographer-tagline {
          font-size: 18px;
          line-height: 23px;

          @include respond(tablet) {
            font-size: 24px;
            display: flex;
            justify-content: center;
          }

          @include respond(tablet-mobile) {
            //font-size: 20px;
          }

          @include respond(mobile) {
            margin-bottom: 0;
            font-size: 16px;
            display: flex;
            text-align: center;
          }
        }
      }

      .contact-button {
        background-color: $background-color;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-family: $font-sans;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        height: 69px;
        cursor: pointer;



        @include respond(tablet) {
          margin-top: 40px;
          margin-bottom: 20px;
        }

        @include respond(mobile) {
          font-weight: 400;
          font-size: 20px;
          height: 50px;

        }

        &:hover {
          background-color: $color-tertiary;
          color: $color-black;
        }
      }

      .photographer-image {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;

        @include respond(tablet) {
          //width: 150px;
          //height: 150px;
        }
      }
    }



    /***********************
      Photographer section
     ***********************/
    .media-section {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 30px 0;
      gap: 20px;
      align-items: center;

      @include respond(large-screen) {
        justify-content: space-evenly;
      }

      @include respond(laptop) {

      }

      @include respond(tablet) {
      }

      @include respond(mobile) {

      }

      article {
        width: 30%;
        height: 351px;


        @include respond(tablet) {
          width: 45%;
        }

        @include respond(tablet) {
        }

        @include respond(mobile) {
          width: 100%;
        }

        figure {
          width: 100%;

          @include respond(mobile) {
            display: flex;
            flex-direction: column-reverse;
          }
        }

        img, video {
          width: 100%;
          height: 300px;
          border-radius: 5px;
          object-fit: cover;
          cursor: pointer;

          @include respond(laptop) {
            border-radius: 0px 0px 5px 5px;
          }

          @include respond(tablet) {

          }
        }

        figcaption {
          width: 100%;
          padding-right: 6px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 10px;

          @include respond(mobile) {
            padding-right: 0;
            right: 176px;
            color: #FFFFFF;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            background-color: $color-price;
          }
        }

        h3 {
          width: 250px;
          margin: 0;
          font-family: $font-sans;
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 31px;
          color: $color-deep-red;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          @include respond(mobile) {
            font-size: 20px;
            color: $color-white;
            padding-left: 10px;
          }
        }



        p {
          font-family: $font-sans;
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          padding-right: 24px;
          line-height: 31px;
          color: $color-deep-red;
          display: inline-block;
          margin: 0;
          vertical-align: middle;

          @include respond(mobile) {
            position: relative;
            font-size: 20px;
            width: 80px;
            top: 0;
            right: 0;
            color: $color-black;
            background-color: $color-secondary;
            border-radius: 0 10px 0 0;
            padding: 5px 30px 5px 10px;
          }
        }

        .heart-container {
          font-size: 16px;
          display: inline-block;
          align-items: center;
          vertical-align: middle;
        }

        .fa-heart {
          font-size: 24px;
          cursor: pointer;
        }

        .fas.fa-heart {
          position: absolute;
          z-index: 0;
          animation: fill 500ms;
          display: none;
        }

        .heart-container {
          position: relative;
          display: inline-block;
        }

        .fa-heart {
          font-size: 24px;
          cursor: pointer;
          position: absolute;
          top: -14px;
          left: 0;
        }

        .fas.fa-heart {
          position: absolute;
          z-index: 0;
          animation: fill 500ms;
          display: none;
        }

      }





      @keyframes fill {
        from {
          transform: scale(0);
        }
        to {
          transform: scale(1);
        }
      }












    }

    main {
      aside {

        display: flex;
        align-items: center;
        border-radius: 5px;
        margin-right: 36px;
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 20px 40px;
        background-color: $color-secondary;
        flex-direction: row-reverse;

        @include respond(mobile) {
          width: 90%;
          justify-content: center;
          position: fixed;
          left: 0;
          right: 0;
          margin: 0 auto;
          padding: 10px;
        }

        .rate, .likes {
          padding: 0 0 0 5px;
          font-family: $font-sans;
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 31px;
          text-align: center;
        }

        .rate {
          padding: 0 0 0 30px;

        }

        .likes {
          margin-right: 10px;
        }

        .total-likes {
          width: 50px;
          font-weight: 500;
          font-size: 24px;
          line-height: 31px;
          //padding: 0 20px 0 20px;
        }

        .fa-heart {
          color: $color-black;
        }
      }
    }



