    /*
    ########################################################################
    |  Ce dossier contient les styles spécifiques à la page du photographe |
    ########################################################################
     */

    .photographer-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 57px 50px;
      background-color: $color-background;
      border-radius: 5px;
      text-align: center;
      //margin: 40px 100px 0;

      .photographer-details {
        margin-right: 20px;
        margin-left: 0;

        .photographer-name {
          font-family: $font-sans;
          font-style: normal;
          font-weight: 400;
          font-size: 64px;
          line-height: 83px;
          color: $color-tertiary;
          margin: 0;
        }

        .photographer-location,
        .photographer-tagline {
          font-family: $font-sans;
          font-style: normal;
          font-weight: 400;
          margin: 0 0 19px 0;
          text-align: left;
        }

        .photographer-location {
          font-size: 24px;
          line-height: 31px;
          color: $color-primary;
        }

        .photographer-tagline {
          font-size: 18px;
          line-height: 23px;
        }
      }

      .contact-button {
        background-color: $background-color;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-family: $font-sans;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        height: 69px;
        cursor: pointer;

        &:hover {
          background-color: $color-tertiary;
          color: $color-black;
        }
      }

      .photographer-image {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
      }
    }



    /***********************
      Photographer section
     ***********************/
    .media-section {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 30px 0;
      gap: 20px;
      align-items: center;

      article {
      }



      figcaption {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
      }

      h3 {
        width: 250px;
        margin: 0;
        font-family: $font-sans;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 31px;
        color: $color-deep-red;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }


      a {
        text-decoration: none;
        color: inherit;

        &:hover,
        &:focus,
        &:active {
          outline: none;
          text-decoration: none;
          color: inherit;
        }
      }

      span {
        font-size: 16px;
        display: flex;
        align-items: center;
      }

      figure {
        width: 350px;
        height: 351px;
      }

      img, video {
        width: 350px;
        height: 300px;
        border-radius: 5px;
        object-fit: cover;
      }

      // Ajout des propriétés CSS pour la balise <p>
      p {
        font-family: $font-sans;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
        color: $color-deep-red;
      }

      .portfolio {
        //background-color: palegreen;
      }
    }

    main {
      aside {
        border-radius: 5px;
        margin-right: 36px;

        display: flex;
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 10px;
        background-color: $color-secondary;
        flex-direction: row-reverse;

        .rate, .likes {
          display: flex;
          align-items: center;
          padding: 10px;

          font-family: $font-sans;
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 31px;
          text-align: center;
        }

        .likes {
          margin-right: 10px;
        }

        .fa-heart {
          color: $color-black;
        }
      }
    }



