                        /*
                       ######################################################
                         Ce dossier contient les fichiers Sass utilitaires,
                         tels que les mixins, les fonctions, les variables
                       ######################################################
                        */

                        // Variable COULEURS
                        $color-primary: #901C1C;
                        $color-secondary: #DB8876;
                        $color-tertiary: #D3573C;
                        $color-subtitle: #525252;
                        $color-price: #757575;
                        $color-background: #FAFAFA;
                        $color-label: #312E2E;
                        $color-deep-red: #911C1C;
                        $color-black: #000000;
                        ;



                        /* Définit la couleur d'arrière-plan  */
                        $background-color: #911C1C;


                        // Variable $font-sans avec la police DM Sans et la police générique sans-serif
                        $font-sans: 'DM Sans', sans-serif;

                        $max-width: 1400px;




