                        /*
                       ######################################################
                         Ce dossier contient les fichiers Sass utilitaires,
                         tels que les mixins, les fonctions, les variables
                       ######################################################
                        */

$color-primary: #901C1C;
$color-secondary: #DB8876;
$color-tertiary: #D3573C;
$color-subtitle: #525252;
$color-price: #757575;
$color-background: #FAFAFA;
$color-label: #312E2E;



